<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>servlets.CheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>servlets.CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRenter</servlet-name>
        <servlet-class>servlets.AddRenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availableCars</servlet-name>
        <servlet-class>servlets.availableCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availableMotorcycles</servlet-name>
        <servlet-class>servlets.availableMotorcycles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availableBikes</servlet-name>
        <servlet-class>servlets.availableBikes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availableScooters</servlet-name>
        <servlet-class>servlets.availableScooters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SQL</servlet-name>
        <servlet-class>servlets.SQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ava</servlet-name>
        <servlet-class>servlets.ava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avm</servlet-name>
        <servlet-class>servlets.avm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avb</servlet-name>
        <servlet-class>servlets.avb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avs</servlet-name>
        <servlet-class>servlets.avs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>damaged</servlet-name>
        <servlet-class>servlets.damaged</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DamagedV</servlet-name>
        <servlet-class>servlets.DamagedV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRent</servlet-name>
        <servlet-class>servlets.addRent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBike</servlet-name>
        <servlet-class>servlets.AddBike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMotorcycle</servlet-name>
        <servlet-class>servlets.AddMotorcycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScooter</servlet-name>
        <servlet-class>servlets.AddScooter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>servlets.AddCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/CheckUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRenter</servlet-name>
        <url-pattern>/AddRenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availableCars</servlet-name>
        <url-pattern>/availableCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availableMotorcycles</servlet-name>
        <url-pattern>/availableMotorcycles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availableBikes</servlet-name>
        <url-pattern>/availableBikes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availableScooters</servlet-name>
        <url-pattern>/availableScooters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SQL</servlet-name>
        <url-pattern>/SQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ava</servlet-name>
        <url-pattern>/ava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avm</servlet-name>
        <url-pattern>/avm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avb</servlet-name>
        <url-pattern>/avb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avs</servlet-name>
        <url-pattern>/avs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>damaged</servlet-name>
        <url-pattern>/damaged</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DamagedV</servlet-name>
        <url-pattern>/DamagedV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRent</servlet-name>
        <url-pattern>/addRent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBike</servlet-name>
        <url-pattern>/AddBike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMotorcycle</servlet-name>
        <url-pattern>/AddMotorcycle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScooter</servlet-name>
        <url-pattern>/AddScooter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/AddCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
